In [1]:
import numpy as np
import pandas as pd

np.random.seed(123)

n_samples=1000
class_0_ratio=0.9
n_class_0=int(n_samples*class_0_ratio)
n_class_1=n_samples-n_class_0

In [3]:
n_class_0,n_class_1

(900, 100)

In [28]:
#creating the dataframe with imbalaced dataset
class_0=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})

class_1=pd.DataFrame({
    'feature_1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=2,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

In [30]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [32]:
df.head()

   feature_1  feature_2  target
0  -0.471276   0.328462       0
1   1.084072   1.038230       0
2  -0.379223   1.147064       0
3  -0.362274   0.638254       0
4  -0.681071  -1.075766       0

In [34]:
df.tail()

     feature_1  feature_2  target
995   2.720690   1.978489       1
996   1.949078   3.709793       1
997   2.709784   3.324917       1
998   1.817689   1.549237       1
999   2.838910   2.240773       1

In [18]:
df.isnull().sum()

feature_1    0
feature_2    0
target       0
dtype: int64

In [38]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

### upsampling

In [43]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [57]:
from sklearn.utils import resample 
df_minority_upsampled=resample(df_minority,replace=True,# it is with replace bcoz we need to increase the datas
         n_samples=len(df_majority),
         random_state=42
        )

In [61]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   2.701255   0.056481       1
992   2.322342   3.289170       1
914   2.500618   1.338170       1
971   1.922944   2.907951       1
960   0.630218   0.982405       1

In [63]:
pd.concat([df_majority,df_minority_upsampled])

     feature_1  feature_2  target
0    -0.471276   0.328462       0
1     1.084072   1.038230       0
2    -0.379223   1.147064       0
3    -0.362274   0.638254       0
4    -0.681071  -1.075766       0
..         ...        ...     ...
952   1.035138   1.334364       1
965   2.722939   2.109470       1
976   0.929157   2.111367       1
942   2.367930   3.715577       1
974   1.889689   1.234799       1

[1800 rows x 3 columns]

### Down sampling

In [68]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [76]:
from sklearn.utils import resample 
df_majority_downsampled=resample(df_minority,replace=False,
         n_samples=len(df_minority),
         random_state=42
        )

In [90]:
df_majority_downsampled.shape

(100, 3)

In [94]:
df_downsampled=pd.concat([df_majority,df_majority_downsampled])

In [99]:
df_downsampled.target.value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [101]:
df_downsampled.shape

(1000, 3)